# dependencies
node_modules/

# env files
.env

# logs
logs/
*.log
npm-debug.log*

# runtime
dist/
build/

# OS files
.DS_Store

# editor
.vscode/
.idea/

# optional (if you add uploads later)
uploads/
